/* Reset básico de estilo */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remoção de marcadores padrão para listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Ajuste para uma melhor compatibilidade e responsividade */
html {
    font-size: 100%; /* Facilita o uso de rem para tamanhos */
}


